/* =========================================
   1. DESIGN TOKENS (Variables de Figma)
   ========================================= */
:root {
    /* --- Color Brand --- */
    --color-brand-primary: #76BA4B;

    /* --- Color Accent --- */
    --color-accent: #1A4E2C;

    /* --- Color Surface (Fondos) --- */
    --background-neutro-050: #FFFFFF;
    --background-neutro-100: #FAF7EE;
    --background-neutro-150: #F7F3E9;
    --background-accent-tonal: #1A4E2C;

    /* --- Color Content (Textos) --- */
    --color-text-brand: #1A4E2C;
    --color-text-primary: #080F0A;
    --color-text-secundary: #4F5852;
    --color-text: #546256;
    --color-text-light: #FAF7EE;
    --text-on-brand-secundary: #76BA4B;
    --text-on-brand: #ffffff;

    /* --- Color Stroke (Contornos) --- */
    --color-stroke-light: #DFDCD4;

    /* --- Tipografías --- */
    --font-primary: 'Inter', sans-serif;

    /* =========================================
   2. BOOTSTRAP OVERRIDES
   ========================================= */
    --bs-primary: var(--color-brand-primary);
    --bs-body-font-family: var(--font-primary);
    --bs-body-color: var(--text-primary);
    --bs-body-bg: var(--background-neutro-050);
    --bs-secondary-color: var(--color-text);
}

/* =========================================
   3. COMPONENTES PERSONALIZADOS
   ========================================= */

/* A. Ajuste del Botón Primary */
.btn-primary {
    background-color: var(--color-brand-primary);
    color: var(--color-text-light);
    font-weight: 600;
    padding: 1rem 1.5rem;
    border-color: var(--color-brand-primary);
    border-radius: 100px;
    transition: all 0.3s ease;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
    background-color: var(--color-accent) !important;
    border-color: var(--color-accent) !important;
    color: var(--color-text-light) !important;
    filter: brightness(1.3);
}

/* B. boton Secundario */
.btn-secondary {
    background-color: var(--color-accent);
    color: var(--color-text-light);
    font-weight: 600;
    border-color: var(--color-accent);
    border-radius: 100px;
    padding: 1rem 1.5rem;
    transition: all 0.3s ease;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: var(--color-accent) !important;
    border-color: var(--color-accent) !important;
    color: var(--color-text-light) !important;
    filter: brightness(0.95);
}

.btn-link {
    color: var(--color-text-light) !important;
    font-weight: 500;
    transition: all 0.3s ease;
    padding: 1rem 1.5rem;
    border: 1px solid var(--color-stroke-light);
    border-radius: 100px;
}

.btn-link:hover,
.btn-link:focus {
    background-color: var(--background-neutro-050) !important;
    border-color: var(--color-stroke-light) !important;
    color: var(--color-text-light) !important;
    filter: brightness(0.95);
}

/* C. Utility classes for HTML */
.text-brand-primary {
    color: var(--color-brand-primary);
}

.color-text-accent {
    color: var(--color-accent);
}

.color-text-brand {
    color: var(--color-text-brand);
}

.color-text-primary {
    color: var(--color-text-primary);
}

.color-text-secundary {
    color: var(--color-text-secundary);
}

.color-text-light {
    color: var(--color-text-light);
}

.text-on-brand-secondary {
    color: var(--text-on-brand-secundary);
}

.text-on-brand {
    color: var(--text-on-brand);
}

.background-neutro-050 {
    background-color: var(--background-neutro-050);
}

.background-neutro-100 {
    background-color: var(--background-neutro-100);
}

.background-neutro-150 {
    background-color: var(--background-neutro-150);
}

.background-accent-tonal {
    background-color: var(--background-accent-tonal);
}

.bg-brand-primary {
    background-color: var(--color-brand-primary);
}

.bg-accent {
    background-color: var(--color-accent);
}

.bg-neutro-050 {
    background-color: var(--background-neutro-050);
}

.bg-neutro-100 {
    background-color: var(--background-neutro-100);
}

.bg-neutro-150 {
    background-color: var(--background-neutro-150);
}

.bg-accent-tonal {
    background-color: var(--background-accent-tonal);
}

.border-stroke-light {
    border-color: var(--color-stroke-light);
}

.border-brand-primary {
    border-color: var(--color-brand-primary);
}

.border-accent {
    border-color: var(--color-accent);
}

/* --- Header / Navbar --- */
/* Estilos de la numeración de los enlaces (ej: 01) */
.enlace-numero {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 0.75rem;
    color: #A7AD9B;
}

/* Botón flotante personalizado */
.whatsapp-fab {
    position: fixed;
    right: max(12px, calc((100vw - 100%) / 2 + 14px));
    bottom: 16px;
    z-index: 1050;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 16%;
    background: #25D366;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
    text-decoration: none;
}

.whatsapp-fab img {
    width: 56px;
    height: 56px;
    display: block;
}